<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Create Community</title>
  </head>
  <body>
    <p>Logged in as: {{ user.id }}</p>
    <meta name="userId" content="{{ user.id }}" />
    <h1>Create Community</h1>
    <form id="createCommunityForm">
      <meta name="csrf-token" content="{{ csrf_token }}" />
      <label for="name">Name:</label><br />
      <input type="text" id="name" name="name" required /><br />

      <label for="description">Description:</label><br />
      <textarea id="description" name="description" required></textarea><br />
      <label for="image">Image (optional):</label><br />
      <input type="file" id="image" name="image" accept="image/*" /><br />

      <label for="is_private">Private:</label>
      <input type="checkbox" id="is_private" name="is_private" /><br />
      <button type="button" onclick="submitCommunity()">
        Create Community
      </button>
    </form>

    <script>
      function submitCommunity() {
        const formData = new FormData(
          document.getElementById("createCommunityForm")
        );
        formData.append("user_id", getUserId());
        console.log("csrf token: " + getCsrfToken());
        fetch("/communities/", {
          method: "POST",
          headers: {
            "X-CSRFToken": getCsrfToken(),
          },
          body: formData,
          credentials: "include",
        })
          .then((response) => {
            if (!response.ok) throw new Error("Failed to create community");
            return response.json();
          })
          .then((data) => {
            console.log("Community created:", data);
            alert("Community created successfully!");
          })
          .catch((error) => {
            console.error("Error creating community:", error);
            alert("Error creating community.");
          });
      }
      function getUserId() {
        return document
          .querySelector('meta[name="userId"]')
          .getAttribute("content");
      }
      function getCsrfToken() {
        return document
          .querySelector('meta[name="csrf-token"]')
          .getAttribute("content");
      }
    </script>
  </body>
</html>
